<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>eventsServlet</servlet-name>
        <servlet-class>it.polimi.iol.duque.EventsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>eventsServlet</servlet-name>
        <url-pattern>/eventsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statsServlet</servlet-name>
        <servlet-class>it.polimi.iol.duque.StatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>statsServlet</servlet-name>
        <url-pattern>/statsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>it.polimi.iol.duque.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <!-- DB Parameters -->
    <context-param>
        <param-name>username</param-name>
        <param-value>Duque</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/tudex</param-value>
    </context-param>

</web-app>
