html {
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #00A6D6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-color: #f7f7f7;
    overflow: auto;
}


/******************* *************** *******************/
/*********************** Badge Box **********************/
/******************* *************** *******************/

.badge_box {
    position: relative;
    box-shadow: 4px 4px 8px 4px #888888;
    background: #fff;
    color: #00A6D6;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    font-size: x-large;
}

.badge_head {
    border-bottom: 1px solid gray;
    font-weight: bold;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}

.badge_body {
    margin: auto;
    color: #004b61;
    padding-bottom: 0.1em;
}

.badge_footer {
    margin: auto;
    display: flex;
    flex-direction: row;
    background: rgb(0, 40, 51);
    font-weight: bold;
    color: white;
}

.bonus-div {
    display: flex;
    flex-direction: row;
    background: rgb(0, 40, 51);
    box-shadow: 4px 4px 8px 4px #888888;
    color: #fed952;
    margin: 1.5em 3em;
    padding: 1em;
    font-size: xx-large;
    font-weight: bold;

}


.badge_footer_left {
    text-align: center;
}

.distance_image {}

.clock_image {}

.badge_footer_right {
    text-align: center;
}


/******************* *************** *******************/
/******************* Image Text Div *******************/
/******************* *************** *******************/

.img_txt_container {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
}

.img_txt_container_image {
    padding: 0.2em;
}

.img_txt_container_text {
    padding: 0.2em;
    flex: 1;
    text-align: center;
}

.logo {
    padding: 2em;
    width: 20%;
}

.centered_text {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
    color: white;
    text-align: center;
    flex: 1;
}


/******************* *************** *******************/
/*********************** Footer **********************/
/******************* *************** *******************/

footer {
    display: flex;
    flex-direction: row;
}

.footer-text {
    color: #fed952;
    background: rgb(0, 40, 51);
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    flex: 1;
}

.arrow-button-right {
    padding: 1em;
    border-left: 0.4em solid white;
    background-color: #00A6D6;
}

.arrow-button-right:active {
    background-color: rgb(40, 119, 142);
    box-shadow: 2px 2px 2px 2px #666;
    transform: translateX(4px);
}

.arrow-button-left {
    padding: 1em;
    border-right: 0.4em solid white;
    background-color: #00A6D6;
}

.arrow-button-left:active {
    background-color: rgb(40, 119, 142);
    box-shadow: 2px 2px 2px 2px #666;
    transform: translateX(4px);
}

.arrow-right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid white;
    margin-right: 2em;
    margin-left: 2em;
}

.arrow-left {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 40px solid white;
    margin-right: 2em;
    margin-left: 2em;
}

/******************* *************** *******************/
/*********************** Stats Box **********************/
/******************* *************** *******************/

.stats_box {
    position: relative;
    background: #fff;
    /* margin-top: 1.5em; */
    /* margin-bottom: 1.5em; */
    /* margin-left: 1em; */
    /* margin-right: 1em; */
    padding: 2em;
    font-size: x-large;
    height: 100%;
    display: grid;
    /* flex: 1; */
}

.double_txt_img_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
}

.double_txt2{
    padding: 0.2em;
    text-align: center;
}

.double_txt1{
    padding: 0.2em;
    flex: 1;
}